.img-hidden{
    display:inline-block;
    width:22px;
    height:22px;
    margin-top:14px;
    float:right;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAACMElEQVRIS+2Uy2sUQRCHf9XTsxsvRs3MBBHxCeIlf4B48qQgeFHUqxdB8XEKhriT3tlDjKKgYpDcPIjCehYXPJqTf4HE4OPkTq8ag6Cb6emSFYXZyb6C5pY5DtX1dX1VXYR1/mid82MD0Nfwf1Hkq+Roi6SV+yJPHAyguOCZ5h4hnREGpDVWf5aFRSha+Z3c2qcQ4syaAPsvcXF5S3raIj1LJDaBaAHMGoSUmHwCV62A2yt5q5qOFXjKHIfl64LxTBj56NM06Xzp2ZsLi8QKKmoln/dWpFh41txgIt/+dK5+naFvrQO7FQ99t+kdgMdYIBRAIXvzbYo3E6d3BXNdR3ICIP4LylTA5E2ls8LyYlyRt7NBXmhmAcw3Ivm4l/OglIyzoF26LC+uAgSllQssaIcuu5P5Mr0wedWI3MNtWgBTV+7LVbFTyYyw/C6uFB629eAPYKcuuxP5QyMqOdKuRdb80MzryD3UAXALlhcalcJcrslMXpg+IPAHHcmbWUXtWmQtKCXnWdBBXXavZAF+mEyCEGT/t09Rq8lsppHydiPdy0uKlvJarEUEwuvhL3L87X1qtgDD13irW0zuEehjXnHHMfVDc4wF/yBgqNecjyoObGrOgXCCABVHbm3gl5y9OVkwE50EOAYgbEqjQvA+sF1mOE8adaeKOUo6LabOFeSf/yl2/APNvUROAMCC0zh+U3yPKqX9tl13QJfl1S/hwIrWmqhb/GDb9B9oG4C+8n4BM3McKOoZlTkAAAAASUVORK5CYII=) no-repeat
}

.img-lock{
    display:inline-block;
    width:22px;
    height:22px;
    margin-top:14px;
    float:right;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAACXBIWXMAAAsTAAALEwEAmpwYAAAB1ElEQVRIibWVu0scURTGf3d2drBQFAWbbRQVCwuVLIZdi2gnWIiF/4GtKyuJGAJh8mgTcU0T8T8ICC6kiIVu44gvtFEQQWwsbExQJGHXmZtiZsOyzCN3Vz+4cDjfvec7j7l3QAF95onRZ54YKmdE1IbnS0c9mnAyAjkBxDy3LRHrjtRyu7OD52HntTAyvbw/HxP2hkCearrRb2WSCSuTTGi60S+QpzFhbwznDl/VVMHw0sF7hEjFbW2qkB38lfp8nNDipWcATil+uDM3cDWyeNRSijnfkHJnezb5Vkkgvbg3IOXD2e1ts93S+icnkZOAVaalZK3YQMa4L+pC6L1WduhYSeCf0PLBdxzOjZ93Lwvm6APAiLmlF1ubPiHotmaS41ExQjH0ZbfNM1NAFpgD0lVcICIrANqAVaAd+AFIYAy4BqaBG+Wsq5AH3vgk8xpYrzf4KLAZwhe8PYEIvQe4vc6H8Hnc2dQs0AFchvAXQGdEDF8s4A5TZS34BQqqQNaS1WMI3KD4WUbNoBJfce9CO7BSr4BfBe8A21vmUwh0VdjdTyHwscL+UK+AHxoD7FDoAX6/Cnpxn4ay/egCjcCL/w1chkqLakLQ/6ABhT57uAd+Vzv/Ara3iY6fK4WxAAAAAElFTkSuQmCC) no-repeat
}
